*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.customer-form-wrapper{
    width: 40%;
    height: auto;
    margin: 100px auto;
    box-shadow: 20px 20px 10px red;
    border: 1px solid;
}