*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(209, 60, 60);
}
header{
    display: flex;
    background-color: green;
    position: sticky;
    top: 0;
}
header section ul li{
    float: left;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    list-style: none;
    background-color: rgb(118, 99, 137);
    text-transform: uppercase;
    color: white;
}
header>section section{
    width: 75px;
    height: 75px;
    border: 2px solid yellow;
    border-radius: 50%;
}
header section section img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
header section+main{
    margin-top: 2px;
    margin-right: 40px;
}
header+section span h1{
    background-color: aqua;
    text-align: center;
    margin-bottom: 30px;
}
section figure{
    background-color: yellow;
    margin-bottom: 20px;
    max-width: 600px;
    text-align: center;
}
section figure img{
    width: 100%;
    border-radius: 20%;
}
section .second{
    background-color: blue;
}
footer{
    margin: 20px 0px 0px;
    padding: 20px;
    background-color: rgb(193, 193, 73);
    font-size: 1.5em;
}
h3{
    text-align: center;
}
nav select{
    margin: 10px;
}
.images div{
    margin-bottom: 20px;
}
section .customers-table>caption{
font-size: 3em;
color: blue;
border-bottom: 2px solid yellow;
margin-bottom: 20px;
}
table{
    height: 300px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
thead{
background-color: chartreuse;
}
tbody{
    background-color: yellow;
}
section table thead tr th:hover{
background-color: white
}
section table tbody tr td:hover{
background-color: white
}
fieldset{
    margin: 20px;
    padding: 40px;
}
