*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    width: 100%;
    background-color: black;
    color: white;
}
caption{
    color: black;
    font-size: 3em;
    text-align: left;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
thead{
    background-color: green;
}
table, th, td {
    /* border: 1px solid white; */
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    text-align: right;
}
tr{
    border-bottom: 2px solid red;
}
td:hover{
    background-color: red;
    cursor: pointer;
    color: white;
    text-align: left;
    transition: 1s ease-in-out;
}
tr:nth-child(even){
    background-color: rgb(231, 228, 228);
    color: black;
}